<component name="libraryTable">
  <library name="springindicator-1.0.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.android/build-cache/dde4aa0c5cf1fecb3b94a4f1283aa82b867c5950/output/jars/classes.jar!/" />
      <root url="file://$USER_HOME$/.android/build-cache/dde4aa0c5cf1fecb3b94a4f1283aa82b867c5950/output/res" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.chenupt.android/springindicator/1.0.2/a3f538e8002360c69991390acfe41148ff6081af/springindicator-1.0.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>